.estoque-container { 
    padding: 10px; 
}

.estoque-header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; 
}

.estoque-header h1 { 
    font-size: 1.8rem; 
    color: #1e293b; 
}

.add-produto-btn { 
    background-color: #16a34a; 
    color: white; border: none; 
    padding: 12px 22px; 
    border-radius: 8px; 
    font-size: 1rem; 
    font-weight: 600; 
    cursor: pointer; 
}

.produtos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.filtros-container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f8fafc;
    border-radius: 8px;
    align-items: flex-end;
    justify-content: flex-start;
}

.filtro-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filtros-container-estoque {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f8fafc;
    border-radius: 8px;
    align-items: flex-end; 
    justify-content: flex-start;
}

.filtro-input {
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    font-size: 1rem;
    height: 42px;
}

.filtro-item:nth-child(1) {
    flex: 1.6;
}

.filtro-item:nth-child(2) {
    flex: 1;
}

.filtro-item:nth-child(3) {
    flex: 0.7;
}

.filtro-input-estoque {
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    font-size: 1rem;
    height: 42px;
    flex-grow: 1;
    flex-basis: 0
}

.filtro-input-estoque.nome {
    flex-grow: 3;
}

.filtro-input-estoque.status {
    flex-grow: 1;
}

.filtro-input-estoque.codigo-barras {
    flex-grow: 2;
}


.filtrar-btn-estoque {
    background-color: #334155;
    color: white;
    border: none;
    padding: 0 25px;
    height: 42px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}